@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}
.font-display {
  font-family: "Syne", sans-serif;
}
.text-glow {
  text-shadow: 0 0 20px rgba(0, 229, 255, 0.5);
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00e5ff;
}

.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
